# Terraform files
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
*.tfvars.backup
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Sensitive files
*.pem
*.key

# OS files
.DS_Store
Thumbs.db
