---
- name: Configure all servers
  hosts: all
  become: yes
  roles:
    - common
    - kubernetes

- name: Configure Kubernetes Master
  hosts: master
  become: yes
  roles:
    - k8s-master

- name: Configure Kubernetes Worker Node
  hosts: worker
  become: yes
  roles:
    - k8s-worker

- name: Deploy applications to Kubernetes
  hosts: master
  become: yes
  become_user: ubuntu
  tasks:
    - name: Copy Kubernetes manifests
      copy:
        src: "{{ playbook_dir }}/../k8s/"
        dest: /home/ubuntu/k8s/
        owner: ubuntu
        group: ubuntu
        mode: '0644'
    
    - name: Apply namespace
      shell: kubectl apply -f /home/ubuntu/k8s/namespace.yaml
    
    - name: Apply secrets
      shell: kubectl apply -f /home/ubuntu/k8s/secrets.yaml
    
    - name: Apply all deployments
      shell: |
        kubectl apply -f /home/ubuntu/k8s/app-deployment.yaml
        kubectl apply -f /home/ubuntu/k8s/jenkins-deployment.yaml
        kubectl apply -f /home/ubuntu/k8s/rabbitmq-statefulset.yaml
        kubectl apply -f /home/ubuntu/k8s/prometheus-deployment.yaml
        kubectl apply -f /home/ubuntu/k8s/grafana-deployment.yaml
    
    - name: Wait for pods to be ready
      shell: kubectl wait --for=condition=ready pod --all -n campaign-suite --timeout=300s
      ignore_errors: yes
    
    - name: Get all pods status
      shell: kubectl get pods -n campaign-suite
      register: pods_status
    
    - name: Display pods status
      debug:
        msg: "{{ pods_status.stdout_lines }}"
    
    - name: Get all services
      shell: kubectl get svc -n campaign-suite
      register: services_status
    
    - name: Display services
      debug:
        msg: "{{ services_status.stdout_lines }}"

